// VARS

$clr-bg-rewardgood: #26890d;
$clr-bg-rewardoneleaf: #26890dcc;
$clr-bg-rewardnoleaf: #26890d99;
$clr-bg-rewardbad: #9d9faab3;
$clr-bg-default: #fff;

$clr-bg-btb: #323c4e;
$clr-border-gray: #ccc;

$clr-bg-leaf-green: green;

$clr-text-default: #494949;

$font-size: 0.8rem;
$transition-speed: 0.8s;
$zindex: 9999;
// ----------------------

// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}
// ------

// Animations

@keyframes downEnter {
  0% {
    height: 0rem;
    opacity: 0;
  }
  80% {
    height: 6rem;
    opacity: 0.8;
  }
  100% {
    height: 6rem;
    opacity: 1;
  }
}

@keyframes downLeave {
  0% {
    height: 6rem;
    opacity: 1;
  }
  80% {
    height: 1.2rem;
    opacity: 0;
  }
  100% {
    height: 0rem;
    opacity: 0;
  }
}

// --------------------------------

// Styles
.eco-extension-container {
  background-color: $clr-bg-default;
  font-size: $font-size;
  color: $clr-text-default;
  position: fixed;
  width: 100%;
  height: 6rem;
  bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding: 0rem 20rem;
  animation: $transition-speed ease-in 0s 1 downEnter;
  border-color: #ccc;
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0rem 0rem 0.5rem #ccc;
  z-index: $zindex;
  
  &.kayak {
    height: 10rem;
  }
  
  &.dismiss {
    height: 0rem;
    opacity: 0;
    animation: $transition-speed ease-in 0s 1 downLeave;
  }

  &.good .leaf {
    background-color: $clr-bg-rewardgood;
  }
  &.oneleaf .leaf {
    background-color: $clr-bg-rewardoneleaf;
  }
  &.noleaf .leaf {
    background-color: $clr-bg-rewardnoleaf;
  }
  &.bad .leaf {
    background-color: $clr-bg-rewardbad;
  }

  & .leaf {
    width: 5rem;
    height: 5rem;
    border-radius: 0 3rem;
    transform: rotate(0deg);
    margin: 0rem 0.5rem;
  }

  & .title > * {
    font-size: 1.5rem;
  }

  &.kayak .title > * {
    font-size: 2.5rem;
  }

  & .description > * {
    font-size: 0.8rem;
  }

  &.kayak .description > * {
    font-size: 1.5rem;
  }

  & .button {
    background-color: $clr-bg-btb; /* Green */
    border: none;
    color: $clr-bg-default;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
  }

  &.kayak .button {
    font-size: 2rem;
  }

  &.kayak .text-container {
    max-width: 70rem;
  }
}

.tooltip {
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  background-color: $clr-border-gray;
  border-radius: 50%;
  right: 0.5rem;
  top: 50%;
  opacity: 0;
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  *:hover > & {
    opacity: 1;
  }
  &.kayak {
    left: -3.5rem;
    top: 15%;
  }
}

.tooltip_icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0 1.5rem;
  transform: rotate(0deg);
  margin: 0rem 0.5rem;
  position: absolute;
  top: 0.5rem;
  background-color: $clr-bg-leaf-green;
}
